
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
	padding: 0;

}
:root {
    --primary-color: #1D3557;
    --secondary-color: #A8DADC;
    --accent1-color: #F1FAEE;
    --accent2-color: #E63946;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-background-color: #F1FAEE;
    --nav-link-color: #1D3557;
    --nav-hover-link-color: #1D3557;
    --nav-hover-background-color: #A8DADC;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-content: center;
}

header {
    margin: 5px;
    display: grid;
    grid-template-columns: 210px 1fr;
    align-items: center;
    align-content: center;
    padding: 10px 40px 10px 40px;
    background-color: var(--accent1-color);
}

header img {
    border-radius: 100%;
    box-shadow: 0 0 10px var(--primary-color);

}

nav {
    background-color: var(--nav-background-color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 100px;

}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding:  0.5rem;
    border-radius: 100px;

}

nav img {
    border-radius: 100px;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


p {
    padding: 25px;
}

.social-links a {
    text-decoration: none;
}

.hero div {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 340px;
    left: 335px;
    background-color: #f1faeec9;
    padding: 20px;
    border-radius: 100px;
}

.home-page-h3 {
    width: 100px;
    position: absolute;
    bottom: 469px;
    left: 425px;
    background-color: #f1faeec9;
    padding: 10px;
    border-radius: 100px;
}

.hero article {
    position: absolute;
    margin: 1px;
    top: 480px;
    left: 50px;
    width: 900px;
    height: 150px;
    background-color: #f1faeec9;
    color: var(--primary-color);
    border-radius:10px;
}

.hero article img {
    margin: 20px;
    width: 170px;
    left: 10px;
    float: right;
}

/* ----- History Section ----- */

.history {
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template: 20px 1fr / 1fr 1fr 1fr;
    align-content: center ;
    align-items: flex-end;

}

.history h2{
    display: flex;
    justify-content: center;
    grid-area: 1/2;
    align-content: center;
    
}

.first-p {
    display: flex;
    align-items: center;
    text-align: left;
    grid-area: 2/1;
    padding: 0px;
    margin: 0px;
}

.second-p {
    display: flex;
    align-items: center;
    padding: 0px;
    text-align: left;
    grid-area: 2/3;
    margin: 0px;

}

.history img {
    width: 300px;
    padding: 5px;
    border-radius: 10%;
    align-items: center;
    align-self: center;
    grid-area: 2/2;
}

/* ----- Adventure Section ----- */

.adventure{
    margin: 10px;
    padding: 10px;  

}

.adventure h2{
    padding: 10px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-container figure {
    text-align: center;
}

.adventure img {
    width: 185px;
    border-radius: 10px;
}

/* ----- Footer Section ----- */

footer {
    margin: 10px;
    background-color: var(--accent1-color);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    }

footer p{
    color: var(--nav-link-color);
    text-align: center;
}

footer a{
    color: var(--nav-link-color);
    text-decoration: none;
}

footer a:hover,
footer a:focus{
    color: var(--accent2-color);

}

footer img {
    padding: 10px;
}



/*------------------------------------------------*/
/* -------------- Contact Us Page ------------- */
/*------------------------------------------------*/

.contact-us{
    margin: 20px;
    padding: 10px;
    text-align: center;
}

/* ----- Our Team ----- */

.employee{
    margin: 7px;
    padding: 7px;  
}

.employee h2{
    padding: 10px;
    text-align: center;
}

.employee-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.employee-images figure {
    text-align: center;
}

.employee img {
    width: 250px;
    padding: 3px;
    border-radius: 100px;
}


/* ----- Company Information ----- */

.company-info h2{
    padding: 5px;
}

.company-info p{
    padding: 8px;
}

.contact-info{
    display: flex;
    align-items: center;
    align-content: center ;
    justify-content: center;

}
.specific-info{
    height: 250px;
    margin: 20px;
    padding: 50px;
    background-color: var(--accent1-color);
    border-radius: 30px;
}

.map{
    padding: 8px;
    border-radius: 100px;
}


/* ----- Message Form ----- */

.message-form {
    width: 650px;
    margin: 30px auto;
    padding: 2.1rem;
    text-align: center;
    border-radius: 30px;
    display: grid;
    align-items: center;
    align-content: center;

    background-color: var(--secondary-color);
}

.user-info{
    padding: 10px;
}

.message-form p{
    padding: 0.5rem;
}

.message-purpose{
    padding: 1rem;
    align-items: center;
    align-content: center;
}

input{
    margin: 3px;
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

textarea{
    padding: 5px;
    max-width: 100%;
    border: 0px;
    border-bottom: 1px solid;
    resize: vertical;
    border-radius: 10px;
}


input:focus,
textarea:focus,
select:focus {
  background: var(--accent1-color);
  border-radius: 10px;
}

.form-bottom{
    padding: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

input[type="checkbox"],
input[type="radio"]{
    width: 15px;
    height: 15px;
    align-items: center;
    align-content: center;
    vertical-align: middle; 
}

button{
    margin: 20px;
    width: 100px;
    font-family: var(--paragraph-font) ;
    padding: 10px;
    border: none;
    border-radius: 10rem;
    color: var(--accent1-color);
    background-color: var(--nav-link-color);
    cursor: pointer;
    box-shadow: 0 0 10px var(--nav-hover-link-color);
}

button:hover,
button:focus {
  background: var(--accent2-color);
  color: var(--accent1-color);
  box-shadow: none;
}




/*------------------------------------------------*/
/* -------------- Trips Page ------------- */
/*------------------------------------------------*/


.trip-invitation{
    margin-top: 20px;
    padding: 8px;
    text-align: center;
}

.trip-invitation p{
    margin-left: 100px;
    margin-right: 100px;
}

/* ----- Reservation button----- */

.trip-section a{
    text-decoration: none;
}

.reservation{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.reservation a{
    margin: 20px;
    width: 220px;
    padding: 25px;
    color: var(--accent1-color);
    border-radius: 50px;
    background-color: var(--accent2-color);
    box-shadow: 0 0 10px var(--primary-color);
    font-size: larger;
}

.reservation a:hover,
.reservation a:focus{
    background: var(--secondary-color);
    color: var(--accent1-color);
    box-shadow: none;
    text-shadow: 0 0 8px var(--primary-color);
}


/* ----- Despcriptions----- */

.trip-descriptions{
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.trip-descriptions img{
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 0 10px var(--primary-color);
}

.trip-descriptions img:hover,
.trip-descriptions img:focus{
    box-shadow: none;
}

.description{
    padding-bottom: 15px;

}

.description a{
    color: var(--primary-color);
}

.description a:hover{
    color: var(--accent1-color);
}

.description:hover,
.description:focus{
    border-radius: 30px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 30px var(--primary-color);
}


.view-buttom a{
    margin: 5px;
    padding: 6px;
    border-radius: 15px;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color);
    text-align: center;
}
.view-buttom a:hover,
.view-buttom a:focus{
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    box-shadow: none;
}


/* ----- Adventures----- */

.adventures-section{
    margin-bottom: 100px;
    margin-top: 60px;

}
.adventures-section h2{
    padding: 10px;
    text-align: center;
}


.adventures-1row{
    margin: 20px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.adventures-2row{
    margin: 20px;
    display: grid;
    grid-template-columns: 300px 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.adventure-option{
    margin: 5px;
    width: 200fr;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 30px;
}

.adventure-option:hover,
.adventure-option:focus{
    border-radius: 40px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 30px var(--primary-color);
}




/*------------------------------------------------*/
/* -------------- Home page ------------- */
/*------------------------------------------------*/


/* ----- Join link button----- */

.join-link{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.join-link a {
    margin: 20px;
    width: 220px;
    padding: 25px;
    color: var(--accent1-color);
    border-radius: 50px;
    background-color: var(--accent2-color);
    box-shadow: 0 0 10px var(--primary-color);
    font-size: larger;
    text-decoration: none;
}

.join-link a:hover,
.join-link a:focus{
    background: var(--secondary-color);
    color: var(--accent1-color);
    box-shadow: none;
    text-shadow: 0 0 8px var(--primary-color);
}


/* ----- Newsletter Form ----- */

.newsletter{
    width: 650px;
    margin: 30px auto;
    padding: 1rem 5rem;
    text-align: center;
    border-radius: 50px;
    display: grid;
    align-items: center;
    align-content: center;
    background-color: var(--secondary-color);
}

.newsletter h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.name-email{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.name-email input{
    width: 220px;
    padding: 8px;
    text-size-adjust: 100px;
}

.newsletter button{
    margin-top: 25px;
}


/* ----- Newsletter Form ----- */

.offerts{
    margin: 100px 10px ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.offerts img{
    width: 400px;
    border-radius: 40px;
}

.offerts p{
    padding: 15px 55px;
}