
:root {
    --primary-color: #1D3557;
    --second-color: #A8DADC;
    --accent1-color: #F1FAEE;
    --accent2-color: #E63946;

    --heading-font: 'Roboto', medium;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: #A8DADC;
    --nav-link-color: #1D3557;
    --nav-hover-link-color: #F1FAEE;
    --nav_hover-background-color: #1D3557;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding:  1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav_hover-background-color);
}