
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 840px;
}
nav {
    background-color: steelblue;
    padding: 10px;
    height: auto;
    line-height: 0.5;
    letter-spacing: 2px;
    
}

nav a {
    color: white;
    display: block;
    padding: 15px;
}
h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    border-radius: 5%;
    float: right;
    
}

aside {
    position: relative;
}

aside h2{
    position: absolute;
    top: 30px;
    left: 35px;
 }

aside img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px rgb(55, 76, 118);
    border-radius: 5%;
    
}
p {
    padding: 0;
}
footer {
    margin-top: 8px;
    border-top: 1px dotted #333;
}

/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0 ,0 ,0 , 0.2);
    background-color: #eee;
    color: #333;

}
ul {
    text-align: left;
}